= image_tag(@pic.image.url)
%h1= @pic.title
%p= @pic.description
%p
Pic by:
%br/
= @pic.user.name
%br/
%br/
= link_to "Back", root_path, class: "btn btn-primary"
|
= link_to "Edit", edit_pic_path, class: "btn btn-info btn-sm"
|
= link_to "Bin It !", pic_path, method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger btn-xs"